<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Restaurant Finder</title>
</head>
<body>
  <h1>Yelp Reviews</h1>
  <a href="/">New Search</a>
    <ul>
    <% businesses.forEach(function(business) { %>
      <div class="media">
        <a class="media-left" href="#">
          <img class="media-object" src=<%=  business["image_url"] %> alt="Generic placeholder image">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%=  business["name"] %> <img src=<%=  business["rating_img_url"] %> alt="Stars"></h4>
          <%=  business["snippet_text"] %>
          <div>Phone Number: <%= business["phone"] %></div>
          <div>Number of Reviews: <%= business["review_count"] %></div>
        </div>
     </div>
    <% }) %>
    </ul>
</body>
</html>
